<%- include('./partials/form-head')%>
    <main class="container">
        <section class="row justify-content-md-center mt-5">
            <article class="col-md-8 background p-5">
                <form id="weather-form" class="needs-validation" novalidate action="/results" method="GET">
                    <h4>Please enter a city name to request it's weather data</h4>
                    <p><small>Please Note: At the moment the data returned is for Australian Cities and Towns Only</small></p>
                    <div class="form-group">
                        <label for="city"></label>
                        <input id="city" type="text" name="city" class="form-control" placeholder="City Name" required>
                        <div class="valid-feedback">Success</div>
                        <div class="invalid-feedback">Please Enter an Austrlian City or Town</div>
                    </div>

                    <%# values will be used in a query string %>
                    <div class="form-group">
                        <label for="units-select"></label>
                        <select id="units-select" name="unitsFormat" class="custom-select" required>
                            <option value="">Select a Tempature unit</option>
                            <option value="metric">Celsius</option>
                            <option value="imperial">Fahrenheit</option>
                        </select>
                        <div class="valid-feedback">Success</div>
                        <div class="invalid-feedback">Please choose a Temperature Unit</div>
                    </div>
                    
                    <button id="submit-button" class="btn btn-primary" type="submit">Search</button>
                </form>
            </article>
        </section>
    </main>
  

<%- include('./partials/footer')%>