<h1>campgrounds</h1>

<% for(campground of campgrounds) {%>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>" alt="This is a campground called <%=campground.name %>">
    </div>
<% } %>